<ion-header>
  <ion-toolbar>
    <ion-title>{{'assignments.formTitle' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form [formGroup]="assignmentForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
      <app-personselectable formControlName="personId"></app-personselectable>
      <app-taskselectable formControlName="taskId"></app-taskselectable>
      <app-datetimeselectable formControlName="date"></app-datetimeselectable>
      <ion-button [disabled]="!assignmentForm.valid" type="submit">{{mode=="Edit" ? ['home.update' | translate] : ['home.add' | translate]}}</ion-button>
    </form>
</ion-content>
