<ion-header>
  <ion-toolbar>
    <ion-title>Asignación de una Nueva Tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form [formGroup]="assignmentForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
      <app-personselectable formControlName="personId"></app-personselectable>
      <app-taskselectable formControlName="taskId"></app-taskselectable>
      <ion-item>
        <ion-label position="floating">
          Fecha de Inicio de la tarea
        </ion-label>
        <ion-input type="date" placeholder="Introduce la fecha de inicio de la tarea" formControlName="assignedAt"></ion-input>
      </ion-item>
      <ion-button [disabled]="!assignmentForm.valid" type="submit">{{mode=="Edit"?"Modificar":"Añadir"}}</ion-button>
    </form>
</ion-content>
