<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>GESTASKS</ion-list-header>
          <ion-note>{{'home.slogan' | translate}}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{'home.' + p.title | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-fab>
                <ion-fab-button (click)="onLanguage()">
                  <ion-icon name="language-outline"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </ion-col>
            <ion-col>
              <ion-row>
                <ion-note>{{'home.language' | translate}}</ion-note>
              </ion-row>
              <ion-row>
                <ion-note>{{'home.action' | translate}}</ion-note>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
