<ion-header>
  <ion-toolbar>
    <ion-title>{{'tasks.formTitle' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
      <ion-item>
        <ion-label position="floating">
          {{'home.name' | translate}}
        </ion-label>
        <ion-input type="text" placeholder="{{'home.namePlaceholder' | translate}}" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          {{'tasks.inputTime' | translate}} 
        </ion-label>
        <ion-input type="number" placeholder="{{'tasks.lengthPlaceholder' | translate}}" formControlName="time"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          {{'home.photo' | translate}}
        </ion-label>
        <ion-input type="text" placeholder="{{'home.photoPlaceholder' | translate}}" formControlName="photo"></ion-input>
      </ion-item>
      <ion-button [disabled]="!taskForm.valid" type="submit">{{mode=="Edit" ? ['home.update' | translate] : ['home.add' | translate]}}</ion-button>
    </form>
</ion-content>
